* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #01A787;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

span#symbol {
  display: inline-block;
  padding-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .menu {
    max-width: 700px;
  }
}

.container {
  display: grid;
  grid-template-rows: 100px calc(100vh - 150px) 50px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

.item-1 {
  grid-area: header;
  background-color: #2C3043;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-2 {
  grid-area: main;
  background-color: #333850;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-3 {
  grid-area: footer;
  background-color: #2C3043;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}

.menu-item a {
  font-size: 16px;
}

.title {
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
}

/* FIELD STYLES */
.answer {
  padding-top: 20px;
  font-size: 16px;
}



.option {
  width: 250px;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.next-button {
  border: none;
  outline: none;
  background:  #01A787;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

.next-button:hover {
  background: #1BC1A1;
  color: #f6f6f6;
}

.next-button:focus .option {
  outline: none !important;
}

.subtitle {
  color: #01A787;
}

.button-voicing {
  border: none;
  outline: none;
  background:  #6702ab;
  color: white;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.button-voicing:hover {
  background: #8004d3;
}

#symbol-voicing {
  background:  #6702ab;
  padding: 4rem;
  border-radius: 5px;
  margin: 10px;
  font-size: 4rem;
  user-select: none;
}
